- if params[:format]
  A format has been specified, but the default view has been selected. This suggests
  a bug, or that the format requested is not one that is currently supported.
- else
  .download
    .row
      .col-md-12
        .clearfix
          = render partial: "hpi/search_workflow_action_buttons", locals: {no_download: true, no_print: true}
        %h2
          = @preferences.describe_selected_location( ["Download selected data for:", "Download comparison data for:"] )

    .row
      .col-md-12
        %table.table
          %thead
            %tr
              %th Data format
              %th Guidance
              %th
          %tbody
            %tr
              %td Spreadsheet
              %td
                Download the selected data as
                %a{ href: "http://en.wikipedia.org/wiki/Comma-separated_values"} comma-separated value
                (CSV) file. This is a good choice for loading into a spreadsheet.
              %td
                %a.btn.btn-lg.btn-primary{ href: @preferences.as_path( :hpi_data, {format: :csv} )}
                  download CSV data

            %tr
              %td RDF Turtle
              %td
                Download the selected data as
                %a{ href: "http://en.wikipedia.org/wiki/Turtle_(syntax)"}Turtle syntax
                file. This is a
                good choice for integrating the data with other Linked Data
                applications.
              %td
                %a.btn.btn-lg.btn-default{ href: @preferences.as_path( :hpi_data, {format: :ttl} )}
                  download Turtle data

            %tr
              %td SPARQL
              %td
                See the SPARQL query that was used to select your data. You can
                edit the query to further refine your results.
              %td
                %a.btn.btn-lg.btn-default{ href: @preferences.as_path( :hpi_data, {explain: true} )}
                  view SPARQL query
