.container
  = render partial: 'hpi/search_form'


  .row
    - if @search_cmd.no_locations?
      %p
        Sorry, that search did not return any results
    - else
      = render partial: 'search_results'
