#map-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h2.modal-title
          Select a location
      .modal-body
        .row
          .col-md-7
            #map
          .col-md-5
            #map-selection
              .row
                .col-sm-12
                  %span.selected-country.selection-reset
                .col-sm-12
                  %span.selected-country-options.selection-reset
              .row
                .col-sm-12
                  %span.selected-region.selection-reset
                .col-sm-12
                  %span.selected-region-options.selection-reset
              .row
                .col-sm-12
                  %span.selected-counties.selection-reset
                .col-sm-12
                  %span.selected-counties-options.selection-reset

