#map-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h2.modal-title
          Select a location
      .modal-body
        #map
        #map-selection
          %h3.selected-region
