#map-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
          &times;
        %h2.modal-title
          Select an area
      .modal-body
        .row
          .col-md-7
            #map
          .col-md-5
            #map-selection
              .row
                %h3 Country
                .col-sm-12
                  %span.selected-country.selection-reset
                    %a.action.button-default.choose-location{ data: {uri: "http://landregistry.data.gov.uk/id/region/england-and-wales"}}
                      England and Wales
                .show-region
                  %h3 Region
                  .col-sm-12
                    %span.selected-region.selection-reset
                      Select from the map
                .show-counties.hidden
                  %h3 Counties and authorities
                  .col-sm-12
                    %span.selected-counties.selection-reset
                .show-boroughs.hidden
                  %h3 Boroughs
                  .col-sm-12
                    %span.selected-boroughs.selection-reset

