.pull-right
  %a.btn.btn-primary{ href: "#{@preferences.as_path( :hpi )}"}
    %i.fa.fa-edit
    change search
  -unless defined? no_results
    %a.btn.btn-primary{ href: "#{@preferences.as_path( :view )}"}
      %i.fa.fa-mail-reply
      back to results
  - unless defined? no_download
    %a.btn.btn-primary{ href: "#{@preferences.as_path( :hpi_data )}"}
      %i.fa.fa-download
      download data
  - unless defined? no_share
    %a.js.hidden.btn.btn-default.action.action-bookmark{ href: "#", alt: "Share this page", title: "Share this page" }
      %i.fa.fa-share-square-o
      share this page

  - unless defined? no_print
    %a.btn.btn-default{ href: "#{@preferences.as_path( :print )}", alt: "Printable view", title: "Printable view"}
      %i.fa.fa-print
      print

  -unless defined? no_help
    %a.js.hidden.btn.btn-default.action.action-help{ href: "#", alt: "Help and tips", title: "Help and tips" }
      %i.fa.fa-question-circle
      help
    %a.js.hidden.btn.btn-default{ href: "http://www.youtube.com/watch?v=YLXgPjkHmGU", target: "_", alt: "Video tutorial", title: "Video tutorial" }
      %i.fa.fa-youtube
      tutorial


