.row
  .col-md-12
    %p
      Locations that match '#{search_command.search_term}':

  .search-results.col-md-12
    %ul
      - search_command.locations.each do |location|
        %li
          = present_search_result( search_command, location )
