= form_tag( {controller: :search, action: :create}, class: "form-horizontal", role: "form") do
  .row
    .col-md-6
      = render partial: "hpi/area_selection", locals: {group: 1}

    .col-md-6
      = render @preferences.area_comparison_partial, locals: {group: 2}

  .row
    = render partial: @search_cmd.search_results_partial if @search_cmd
