%p
  Matching locations:

%ul
  - @search_cmd.locations.each do |location|
    %li
      = link_to( location["label"], {controller: :preview, loc: location["label"]}.merge( SearchController::DEFAULT_PREVIEW_OPTIONS ))
      /%a.search_result{href: "/preview?loc=#{location["label"]}"}
      /  = location["label"]

