= form_tag( "search", class: "form-horizontal", role: "form") do
  .row
    .col-md-6
      .row
        %p
          Find a location
      .row
        = render partial: "area_selection", locals: {group: 1}

    .col-md-6
      %p.text-muted
        TODO add a second location for comparison
