%section.col-md-12
  %h2
    Results preview

    .pull-right
      .small
        %a.btn.btn-primary{ href: "#{@preferences.as_path( :view )}"}
          Show full results
        %a.btn.btn-primary{ href: "#"}
          Download data

  #chart.preview

  %table.table.preview
    %thead
      = indices_table_header( @query_command )
    %tbody
      - @query_command.results.each do |result|
        %tr
          - result.each_with_index do |value, i|
            %td{ class: (i > 0) ? "text-right" : "text-center" }
              = value
