.col-md-12
  %section

    - if @query_command.illegal_state
      %p
      %p.text-warning
        %i.fa.fa-exclamation-circle
        = @query_command.illegal_state
    - else
      #results-header
        = render partial: "hpi/selected_location" if @preferences.location_complete?

      - if @preferences.num_selected_indices == 0
        %p.text-warning
          %i.fa.fa-exclamation-circle
          Please choose one or more of the indices above to see data for your
          selected location(s).
      - else
        #chart.preview

        %table.table.preview
          = indices_table_header( @query_command )
          %tbody
            - @query_command.results.each do |result|
              %tr
                - result.each_with_index do |value, i|
                  %td{ class: (i > 0) ? "text-right" : "text-center" }
                    = value
