%section.col-md-12
  %h2
    Results preview

    .pull-right
      .small
        %a.btn.btn-primary{ href: "#"}
          Show full results
        %a.btn.btn-primary{ href: "#"}
          Download data

  %table.table
    %thead
      %tr
        - @query_command.columns.each_with_index do |col, i|
          %th{ class: (i > 0) ? "text-right" : "text-center" }
            = col[:label]
    %tbody
      - @query_command.results.each do |result|
        %tr
          - result.each_with_index do |value, i|
            %td{ class: (i > 0) ? "text-right" : "text-center" }
              = value
