@import "_colours.scss";
@import "_conditionals.scss";
@import "_css3.scss";
@import "_typography.scss";
@import "design-patterns/_buttons.scss";
@import "design-patterns/_alpha-beta.scss";

/* variables */
$lr-dark-green: #5A8006;
$lr-mid-green: #ACCD40;
$lr-yellow: #e5ea08;

/* styles */

.beta-banner {
  @include phase-banner(beta);
}
.beta-tag{
  @include phase-tag(beta);
}

.lr {
  #global-header {
    background-color: white;
  }

  #global-header .header-proposition #proposition-links li a {
    color: $lr-dark-green;
  }

  #global-header .header-proposition #proposition-name {
    color: $lr-dark-green;
    font-family: geo_headline;
  }

  #global-header .header-proposition a.menu {
    color: $lr-dark-green;
  }

  .lr-top-bar {
    width: 100%;
    height: 3px;
    background-color: $lr-mid-green;
    margin: 5px 0;
  }

  .container {
    max-width: 960px;
  }

  section {
    border-top: 10px solid $lr-yellow;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h2.results-title {
    color: black;
    background-color: $lr-mid-green;
    border-radius: 3px;
    padding: 5px;
    margin-top: 30px;
  }

  p.info {
    color: $lr-dark-green;
  }

  #date-slider {
    margin-top: 10px;
  }

  h2, h3 {
    font-family: geo_headline;
  }

  h2 {
    margin-bottom: 1em;
  }

  #map {
    width: 300px;
    height: 350px;
  }
}


.leaflet-tile-container img {
-webkit-backface-visibility: hidden;
}

