// Place all the styles related to the preview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart.preview {
  height: 200px;
  width: 100%;
  background-color: #eee;
  margin-bottom: 20px;

}

.column-location-1 {
  border-left: 2px solid #e0e0e0;
  background-color: #f5f6f5;
}

.column-location-2 {
  border-left: 2px solid #e0e0e0;
  background-color: #f3f4f3;
}

table.preview th {
  background-color: white;
}
