// Place all the styles related to the preview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chart.preview {
  height: 200px;
  width: 100%;
  background-color: #eee;
}
